@import url('https://fonts.googleapis.com/css?family=Dosis');

html, body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #DAD6CA;
}

.input-half, .output-half {
  text-align: center;
}

.input-half {
  background-color: #5A504C;
  /*color: #DAD6CA;*/
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input-half strong {
  font-weight: normal;
  color: #FFFFFF;
}

.output-half {
  /*background-color: #DAD6CA;*/
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.output-half strong {
  font-weight: normal;
  color: #000000;
}

.wrap {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px 30px;
}

.output-half .column {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.output-half img {
  width: 64px;
  margin-bottom: 10px;
}

.output-half output {
  opacity: 1;
  transition: opacity 200ms;
}
