@import url('https://fonts.googleapis.com/css?family=Dosis');

html, body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #F7CB6F;
}

.reverseRange {
  direction: rtl;
}

.input-half, .output-half {
  padding: 20px 30px;
  color: #4D5159;
}

.input-half {
  background-color: #E5E5E5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.output-half {
  text-align: center;
  background-color: #F7CB6F;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.output-half img {
  width: 64px;
  margin-bottom: 10px;
}

.output-half output {
  font-weight: bold;
  color: #000000;
}

.column {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
