@media screen and (max-width: 300px) {
  ul.horizontal > li {
    display: block;
    width: auto;
  }

  ul.outputs > li {
    border: 0;
    padding: 0.4em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  ul.outputs > li:first-child {
    padding-top: 0;
    border-top: 0;
  }

  ul.outputs > li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
