ul.segmented, ul.segmented > li {
  padding: 0;
  margin: 0;
}

ul.segmented {
	display: table;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

ul.segmented > li {
  display: table-cell;
}

ul.segmented > li > input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul.segmented > li > label {
  display: block;
  cursor: pointer;
  border-radius: 10em;
  text-align: center;
  padding: .1em 0;
  margin: 0 .2em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  transition: all 200ms;
}

ul.segmented > li > label:hover {
  background: rgba(0, 0, 0, 0.5);
}

ul.segmented > li > label:active {
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

ul.segmented > li > input[type="radio"]:checked + label {
  background: #E86539;
  color: #FFFFFF;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
