ul.segmented, ul.segmented > li {
  padding: 0;
  margin: 0;
}

ul.segmented {
	display: table;
  width: 100%;
}

ul.segmented > li {
  display: table-cell;
}

ul.segmented > li > input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul.segmented > li > label {
  display: block;
  cursor: pointer;
  border-radius: 10em;
  text-align: center;
  padding: .1em 0;
  margin: 0 .2em;
}

ul.segmented > li > label:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
}

ul.segmented > li > label:active {
  background: #FFFFFF;
  color: #000000;
}

ul.segmented > li > input[type="radio"]:checked + label {
  background: #F7CB6F;
  color: #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
